<div class="col-sm-3">
  <div class="card text-center mx-auto" style="width: 18rem;">
    <div class="card-body">
      <h3 class="card-title"><%= room.name %></h3>
      <p class="card-text">詳細: <%= room.description %></p>
      <p class="card-text">利用人数: <%= room.capacity %></p>
      <p class="card-text">
        <% room.tags.each do |tag| %>
          <%= tag.name %>
        <% end %>
      </p>
      <%= link_to 'ルーム宛コメント等', '#', class: 'btn btn-primary' %>
    </div>
  </div>
</div>
