<%= search_form_for @q, url: url do |f| %>
  <div class="input-group mb-3">
    <%= f.label :name_or_detail_cont, "キーワード" %>
    <%= f.search_field :name_or_detail_cont, class: 'form-control', placeholder: "検索ワード" %>
    <%= f.label :start_time_eq, "開催日" %>
    <%= f.date_field :start_time_gteq, class: 'form-control' %>
    <p>〜</p>
    <%= f.date_field :start_time_lteq_end_of_day, class: 'form-control' %>
    <div class="input-group-append">
      <%= f.submit "検索", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>