<h1>Event::Events#show</h1>
<p>Find me in app/views/event/events/show.html.erb</p>

<div>
<%# statusのenum？は相談させてください。%>
  <h1><%= @event.name %></h1>
  <p><%= @event.start_time %><span>〜</span><%= @event.end_time %></p>
  <p><%= "参加予定人数：#{@event.participants_count}名/募集人数：#{@event.capacity}名" %></p>
  <p><%= @event.status %></p>
</div>
<div>
  <p>イベント詳細：</p>
  <%= @event.detail %>
</div>

<% if current_user.own_event?(@event) %>
  <%= link_to  "編集", edit_event_path(@event), class: 'mt-3 btn btn-success' %>
  <%= link_to  "イベントを中止する", "#", class: 'mt-3 btn btn-danger' %>
<% elsif logged_in? %>
  <%= render 'event/events/participation_button', event: @event %>
<% else %>
  <p class="mb-0">ユーザー登録するとイベント参加が可能になります。</p>
<% end %>

<% if @event.recruitment? %>
  <p>募集中</p>
<% else %>
  <p>募集は終了しました</p>
<% end %>

<%# コメント＆Q&A機能は、施設のコメント機能を参考にしたく、追って相談させてください %>
<!-- コメント -->
<%= turbo_frame_tag 'comments' do %>
  <%= render partial: 'event/comments/comment_thread', collection: @comments, as: 'comment' %>
<% end %>
<%= render 'event/comments/comment_form', { event: @event, comment: @comment, url: event_comments_path(@event) } %>
