<div class="container mt-3 mb-5 mx-auto">
  <%= link_to 'イベント一覧へ', events_path %>
    <div class="card">
      <div>
      <% if @event.recruitment? %>
        <p class='btn btn-outline-primary mt-3 ms-3 disabled'>募集中</p>
      <% else %>
        <p class="btn btn-outline-secondary mt-3 ms-3 disabled">募集は終了しました</p>
      <% end %>
    </div>

    <div class="card-body text-center mx-auto">
      <h3 class="card-title">テニス　対戦相手募集！！</h3>
      <h5>開催日　９月１８日</h5>
      <table class="table table-bordered m-auto">
        <tr class="table-success">
          <td>開始時間</td>
          <td>１３：００</td>
        </tr>
        <tr class="table-primary">
          <td>終了時間</td>
          <td>１７：００</td>
        </tr>
        <tr class="table-light">
          <td>開催場所</td>
          <td>深川庭球場</td>
        </tr>
        <tr class="table-light">
          <td>募集人数</td>
          <td>１０人</td>
        </tr>
      </table>
      <p class="card-text m-0 text-start ms-1">
        テニス　初心者
      </p>
      <h5 class='text-start m-3'>詳細</h5>
      <p class='text-start m-3'>
        〇〇大学テニスサークルです！<br>
        経験年数１〜２年程度のメンバーが１０人程度参加予定です。<br><br>
        ・ラケット等の道具は持参<br>
        ・参加費　一人あたり３００円<br>
      </p>
      <% if current_user&.own_event?(@event) %>
        <%= link_to  "編集", edit_event_path(@event), class: 'mt-3 btn btn-success' %>
        <%= link_to  "中止", "#", class: 'mt-3 btn btn-danger' %>
      <% elsif logged_in? %>
        <%= render 'event/events/participation_button', event: @event %>
      <% else %>
        <p class="mb-0">ユーザー登録するとイベント参加が可能になります。</p>
      <% end %>

    </div>
  </div>

<!-- コメント -->
  <div class="row mt-5">
    <div class="col-sm-8 offset-sm-2">
      <%= turbo_frame_tag 'comments' do %>
        <%= render partial: 'event/comments/comment_thread', collection: @comments, as: 'comment' %>
      <% end %>
      <%= render 'event/comments/comment_form', { event: @event, comment: @comment, url: event_comments_path(@event) } %>
    </div>
  </div>

</div>

