<%= turbo_frame_tag comment do %>
  <div class="card border-info mb-3">
    <div class="card-header border-info bg-light">
      <p class="d-inline mb-0">
        <span class="me-1 fw-bold"><%= "[#{comment.comment_type}]" %></span><%= comment.name %>
        <strong><%= '管理者' if comment.user && comment.user.admin? %></strong>
      </p>
      <p class="d-inline float-end mb-0"><%= l(comment.created_at, format: :short) %></p>
    </div>
    <div class="card-body">
      <%= simple_format comment.content, class: 'mb-0 card-text fs-5' %>
    </div>
    <div class="card-footer bg-transparent border-info">
      <%= link_to '返信する', new_comment_fac_reply_path(comment), class: 'text-end float-end mt-2' %>
    </div>
  </div>
<% end %>
